<div class="center hero-unit">
    <h1>About LFD</h1>

    <h2>
      Welcome to Charlotte's local food directory!
    </h2>
    <p>Here we will further explain to you what LFD is all about.</p>

 
</div>